body{
	background-color: #570D01;
	margin: 0;
	font-family: 'Cherry Swash', cursive;
}

header{
	background-color: #046417;
}

header h1{
	color: black;
	font-size: 50px;
}
/*Have picture scroll with page*/
header img{
	float: right;
	border-radius: 150px;
	width: 250px;
	border:10px solid #483a94;
}

h1, h2{
	text-shadow: 1px 1px black
}

h2{
	margin: 40px 0 10px;
}

main{
	background-color: forestgreen;
	max-width: 1000px;
	padding: 0 20px 20px 20px;
}

main img{
	max-width: 100%;
}


footer{
	color: white;
}

footer a{
	color: green;
}

a:hover{
	color: white;
	background-color: #483a94;
}

p.caption{
	font-style: italic;
	margin-top: 0;
	font-size: 13px;

}